In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import requests

In [2]:
load_dotenv()
API_URL = os.getenv('API_URL')
r = requests.get(API_URL)
data = r.json()
df = pd.DataFrame(data['cases_time_series'])
df['date'] = pd.to_datetime(df['date'].astype(str) + ' 2020')
df.tail()

,dailyconfirmed,dailydeceased,dailyrecovered,date,totalconfirmed,totaldeceased,totalrecovered
199,58096,952,57404,2020-08-16,2647318,51048,1918069
200,54298,880,58172,2020-08-17,2701616,51928,1976241
201,65024,1099,60455,2020-08-18,2766640,53027,2036696
202,69196,979,59365,2020-08-19,2835836,54006,2096061
203,68518,981,61873,2020-08-20,2904354,54987,2157934

In [3]:
# df.to_json('data/data.json')
df.to_csv('data/data.csv', index=False)

In [4]:
df = pd.DataFrame(data['tested'])
df.to_csv('data/tested.csv', index=False)
df.tail()

,individualstestedperconfirmedcase,positivecasesfromsamplesreported,samplereportedtoday,source,source1,testedasof,testpositivityrate,testsconductedbyprivatelabs,testsperconfirmedcase,testspermillion,totalindividualstested,totalpositivecases,totalsamplestested,updatetimestamp
159,,,731697,http://twitter.com/ICMRDELHI/status/1295198089...,https://t.me/Covid19india_Auxiliary_Test_Data/...,16/08/2020,,,,22538,,,30041400,17/08/2020 09:00:00
160,,,899864,https://twitter.com/ICMRDELHI/status/129556177...,https://t.me/Covid19india_Auxiliary_Test_Data/...,17/08/2020,,,,23213,,,30941264,18/08/2020 09:00:00
161,,,801518,http://twitter.com/ICMRDELHI/status/1295929066...,https://t.me/Covid19india_Auxiliary_Test_Data/...,18/08/2020,,,,23815,,,31742782,19/08/2020 09:00:00
162,,,918470,https://twitter.com/ICMRDELHI/status/129629641...,https://t.me/Covid19india_Auxiliary_Test_Data/...,19/08/2020,,,,24504,,,32661252,20/08/2020 09:00:00
163,,,805985,http://twitter.com/ICMRDELHI/status/1296650359...,https://t.me/Covid19india_Auxiliary_Test_Data/...,20/08/2020,,,,25109,,,33467237,21/08/2020 09:00:00